@model cs_aspnet_mvc_crud.Models.user

@{
    ViewBag.Title = "Edit";
    ViewBag.Model = "User";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col mx-auto">
        <div class="p-4 p-md-5 border rounded-3 bg-light">
            <h4>@ViewBag.Title @ViewBag.Model</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group mb-3">

                <div class="control-label">Username</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>

                <div class="control-label">Email</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>

                <div class="control-label">Password</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.password_hash, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.password_hash, "", new { @class = "text-danger" })
                </div>

                <div class="control-label">First Name</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                </div>

                <div class="control-label">Last Name</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                </div>

                <div class="control-label">Birthdate</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.birthdate, new { htmlAttributes = new { type = "datetime-local" } })
                    @Html.ValidationMessageFor(model => model.birthdate, "", new { @class = "text-danger" })
                </div>

                <div class="control-label">Position</div>
                <div class="col-md-10">
                    @Html.DropDownList("user_position_id", null, htmlAttributes: new { @class = "form-select" })
                    @Html.ValidationMessageFor(model => model.user_position_id, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-lg btn-dark" })
                    <input type="submit" value="Save Changes" class="btn btn-lg btn-primary" />
                </div>
            </div>
        </div>
    </div>
}