<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Application ASP.NET</title>
    @Styles.Render("~/bundles/css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
    @Styles.Render("~/bundles/headers/css")
    @if (IsSectionDefined("carousel_css"))
    {@RenderSection("carousel_css")}
</head>
<body>

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                    @Html.ActionLink("Company", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">@Html.ActionLink("Home", "Index", "Home")</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">@Html.ActionLink("About", "About", "Home")</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">@Html.ActionLink("Contact", "Contact", "Home")</a></li>
                </ul>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Logout", "Auth")">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container body-content">

        @RenderBody()

        <hr />

        <footer class="container">
            <p class="float-end"><a href="#">Back to top</a></p>
            <p>&copy; @DateTime.Now.Year Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    @*@Scripts.Render("~/bundles/js")*@
</body>
</html>
