@model cs_aspnet_mvc_crud.Models.user_action

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>user_action</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.module.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.module.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
